#Proyecto Final Tecnologias Moviles
#Integrantes:
#Almonte Carpio, Alexia
#Cordova Calderon, Rodrigo
#Cuadros Rosas, Gerardo
#Gomez Jilacama, Jazmin
#Manifest
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliomun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".importanciaLeer"></activity>
        <activity android:name=".Resultado" />
        <activity android:name=".Libros" />
        <activity android:name=".Pantalla_registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
#AdminSQLiteOpenHelper
package com.example.bibliomun;
import android.content.Context;
import android.database.sqlite.SQLiteDatabase;
import android.database.sqlite.SQLiteOpenHelper;

public class AdminSQLiteOpenHelper extends SQLiteOpenHelper{

    public AdminSQLiteOpenHelper(Context context, String name, SQLiteDatabase.CursorFactory factory, int version) {
        super(context, name, factory, version);
    }

    @Override
    public void onCreate(SQLiteDatabase BaseDeDatos) {
        BaseDeDatos.execSQL("create table persona(usuario text primary key, pasword text, nombre text, direccion text, telefono text)");
    }

    @Override
    public void onUpgrade(SQLiteDatabase db, int oldVersion, int newVersion) {

    }
}
#importanciaLeer
package com.example.bibliomun;

import android.content.Intent;
import android.media.MediaPlayer;
import android.net.Uri;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.VideoView;

public class importanciaLeer extends AppCompatActivity {
    VideoView video;


    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_importancia_leer);
        video=(VideoView)findViewById(R.id.video_view);

        String path = "android.resource://"+getPackageName()+"/"+R.raw.video;
        video.setVideoURI(Uri.parse(path));
        video.start();


    }

    public void atras(View view){
        video.stopPlayback();
        Intent i = new Intent(this, MainActivity.class);
        startActivity(i);
    }
}
#Libros
package com.example.bibliomun;

import android.content.Intent;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.ArrayAdapter;
import android.widget.Spinner;
import android.widget.TextView;

public class Libros extends AppCompatActivity {
    TextView tv1;
    Spinner sp1;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_libros);
        tv1=(TextView)findViewById(R.id.tv1);
       String nombre = getIntent().getStringExtra("nombre");
       tv1.setText("Bienvenido "+nombre);
       sp1=(Spinner)findViewById(R.id.sp1);

       String Libros[]={"Cuentos", "Drama", "Leyenda", "Románticas", "Terror", "Ciencia"};
        ArrayAdapter<String> adapter = new ArrayAdapter<String>(this, android.R.layout.simple_spinner_item, Libros);
        sp1.setAdapter(adapter);
    }

    public void continuar(View view){
        String eleccion= sp1.getSelectedItem().toString();
        Intent i = new Intent(this, Resultado.class);
        i.putExtra("seleccion", eleccion);
        startActivity(i);
    }
}

#MainActivity
package com.example.bibliomun;

import android.content.Intent;
import android.content.SharedPreferences;
import android.database.Cursor;
import android.media.MediaPlayer;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.database.sqlite.SQLiteDatabase;
import android.widget.EditText;
import android.widget.ImageView;
import android.widget.Toast;

public class MainActivity extends AppCompatActivity {
    EditText et_usu, et_pas;
    MediaPlayer mp;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        et_usu=(EditText)findViewById(R.id.et_usu);
        et_pas=(EditText)findViewById(R.id.et_pass);
        mp=MediaPlayer.create(this, R.raw.song);
        mp.start();

    }


    public void login(View view)
    {
        AdminSQLiteOpenHelper admin = new AdminSQLiteOpenHelper(this, "administracion", null, 1);
        SQLiteDatabase BaseDeDatos=admin.getWritableDatabase();

        String usuario=et_usu.getText().toString();
        String password = et_pas.getText().toString();

        if(!usuario.isEmpty()&&!password.isEmpty())
        {
            Cursor fila =BaseDeDatos.rawQuery
                    ("select pasword, nombre from persona where usuario='"+usuario+"'", null);
            if(fila.moveToFirst())
            {
                    if(fila.getString(0).equals(password))
                    {
                        Intent i = new Intent(this, Libros.class);
                        i.putExtra("nombre", fila.getString(1));
                        startActivity(i);
                    }
            }else
            {
                Toast.makeText(this, "No se encontraron datos", Toast.LENGTH_LONG).show();
            }
        }else
        {
            Toast.makeText(this, "Falta llenar los campos", Toast.LENGTH_LONG).show();
        }
    }
    public void registrarse(View view){
        Intent i = new Intent(this, Pantalla_registro.class);
        startActivity(i);

    }
    public void Importancia(View view){
        mp.stop();
        Intent i = new Intent(this, importanciaLeer.class);
        startActivity(i);
    }
}

#Pantalla_registro
package com.example.bibliomun;

import android.content.ContentValues;
import android.database.Cursor;
import android.database.sqlite.SQLiteDatabase;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.EditText;
import android.widget.Toast;

public class Pantalla_registro extends AppCompatActivity {

    EditText et_usuario, et_password, et_nombre, et_direccion, et_telefono;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_pantalla_registro);

        et_usuario=(EditText)findViewById(R.id.et_usuario);
        et_password=(EditText)findViewById(R.id.et_password);
        et_nombre=(EditText)findViewById(R.id.et_nombre);
        et_direccion=(EditText)findViewById(R.id.et_direccion);
        et_telefono=(EditText)findViewById(R.id.et_telefono);
    }

    //Metodo para registrar a los usuarios
    public void registrar(View view)
    {
        AdminSQLiteOpenHelper admin = new AdminSQLiteOpenHelper(this, "administracion", null, 1);
        SQLiteDatabase BaseDeDatos=admin.getWritableDatabase();

        String usuario = et_usuario.getText().toString();
        String password = et_password.getText().toString();
        String nombre = et_nombre.getText().toString();
        String direccion = et_direccion.getText().toString();
        String telefono = et_telefono.getText().toString();

        if(!usuario.isEmpty() && !password.isEmpty() && !nombre.isEmpty() && !direccion.isEmpty() && !telefono.isEmpty()  ){
            BaseDeDatos.execSQL("INSERT INTO persona (usuario , pasword , nombre , direccion , telefono )" +
                    "VALUES('"+usuario+"', '"+password+"', '"+nombre+ "', '"+direccion+"', '"+telefono+"')");
            BaseDeDatos.close();
            et_usuario.setText("");
            et_password.setText("");
            et_nombre.setText("");
            et_direccion.setText("");
            et_telefono.setText("");

            Toast.makeText(this, "Registro exitoso", Toast.LENGTH_LONG).show();
            finish();

        }else
        {
            Toast.makeText(this, "Falta llenar algun campo", Toast.LENGTH_LONG).show();
        }
    }
}


#Resultado
package com.example.bibliomun;

import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.AdapterView;
import android.widget.ArrayAdapter;
import android.widget.ImageView;
import android.widget.ListView;
import android.widget.TextView;

public class Resultado extends AppCompatActivity {
    TextView tv1, tv_nom1, tv_aut1, tv_descr1,tv_nom2, tv_aut2, tv_descr2,tv_nom3, tv_aut3, tv_descr3;
    //ListView lv1;
    ImageView iv1, iv2, iv3;

    private String nombre[];
    private String autor[]={"Maximiliano R.Cayo", "Ruben Aguirre", "Beatriz Cueva"};
    private String descripcion[]={"Historia muy interesante", "un gran compendio de historoas", "ganadora de glovos de oro"};
    private int imagen[];


    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_resultado);

        tv1=(TextView)findViewById(R.id.tv_resultado);
        tv_nom1=(TextView)findViewById(R.id.tv_nombre1);
        tv_nom2=(TextView)findViewById(R.id.tv_nombre2);
        tv_nom3=(TextView)findViewById(R.id.tv_nombre3);
        tv_aut1=(TextView)findViewById(R.id.tv_autor1);
        tv_aut2=(TextView)findViewById(R.id.tv_autor2);
        tv_aut3=(TextView)findViewById(R.id.tv_autor3);
        tv_descr1=(TextView)findViewById(R.id.tv_descri1);
        tv_descr2=(TextView)findViewById(R.id.tv_descri2);
        tv_descr3=(TextView)findViewById(R.id.tv_descri3);
        iv1=(ImageView)findViewById(R.id.iv1);
        iv2=(ImageView)findViewById(R.id.iv2);
        iv3=(ImageView)findViewById(R.id.iv3);
        String categoria=getIntent().getStringExtra("seleccion");
        tv1.setText("Categoría "+categoria);

        if(categoria.equals("Cuentos"))
        {
            tv_nom1.setText("El elefante");tv_nom2.setText("365 cuentos");tv_nom3.setText("El arbol de cuentos");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.cuento1);iv2.setImageResource(R.drawable.cuento2);iv3.setImageResource(R.drawable.cuento3);

        }
        if(categoria.equals("Drama"))
        {
            tv_nom1.setText("Destino");tv_nom2.setText("Promesa");tv_nom3.setText("Orgullo");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.drama1);iv2.setImageResource(R.drawable.drama2);iv3.setImageResource(R.drawable.drama3);

        }
        if(categoria.equals("Leyenda"))
        {
            tv_nom1.setText("heroes de mitologia");tv_nom2.setText("leyendas vascas");tv_nom3.setText("leyenda de eneas");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.leyenda1);iv2.setImageResource(R.drawable.leyenda2);iv3.setImageResource(R.drawable.leyenda3);
        }
        if(categoria.equals("Románticas"))
        {
            tv_nom1.setText("Julia Queen");tv_nom2.setText("Una noche");tv_nom3.setText("Una estrella");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.romantica1);iv2.setImageResource(R.drawable.romantica2);iv3.setImageResource(R.drawable.romantica3);
        }
        if(categoria.equals("Terror"))
        {
            tv_nom1.setText("40 relatos de terror");tv_nom2.setText("El gato negro");tv_nom3.setText("Noches de hallowen");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.terror1);iv2.setImageResource(R.drawable.terror2);iv3.setImageResource(R.drawable.terror3);
        }
        if(categoria.equals("Ciencia"))
        {
            tv_nom1.setText("Fisica");tv_nom2.setText("Cienca");tv_nom3.setText("Galileo");
            tv_aut1.setText(autor[0]);tv_aut2.setText(autor[1]);tv_aut3.setText(autor[2]);
            tv_descr1.setText(descripcion[0]);tv_descr2.setText(descripcion[1]);tv_descr3.setText(descripcion[2]);
            iv1.setImageResource(R.drawable.ciencia1);iv2.setImageResource(R.drawable.ciencia2);iv3.setImageResource(R.drawable.ciencia3);
        }

    }
}

#importancia leer.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".importanciaLeer"
    android:orientation="vertical"
    android:weightSum="10"
    android:background="@drawable/fondo_importancia">

    <VideoView
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="5"
        android:id="@+id/video_view"/>

    <Button

        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="10sp"
        android:layout_weight="1"
        android:onClick="atras"
        android:text="atras"
        android:textSize="24dp" />




</LinearLayout>

#libros.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/fondo2"
    android:orientation="vertical"
    android:padding="10sp"
    android:weightSum="10"
    tools:context=".Libros">

    <TextView
        android:id="@+id/tv1"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:text=""
        android:textSize="24sp" />

    <TextView
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="2"
        android:text="Seleccione la categoria"
        android:textSize="35sp" />

    <Spinner
        android:id="@+id/sp1"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="50sp"
        android:layout_marginRight="50sp"
        android:layout_weight="3"></Spinner>

    <Button
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="50sp"
        android:layout_marginTop="30sp"
        android:layout_marginRight="50sp"
        android:layout_weight="1"
        android:onClick="continuar"
        android:text="Continuar"
        android:textSize="24sp" />


</LinearLayout>

#main.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/fondo1"
    android:orientation="vertical"
    android:padding="10dp"
    android:weightSum="10"
    tools:context=".MainActivity">

    <TextView
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="2"
        android:text="Bibliomun"
        android:textAlignment="center"
        android:textSize="70sp" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:weightSum="10"
        android:orientation="horizontal">

        <ImageView
            android:layout_width="1dp"
            android:layout_height="match_parent"
            android:layout_weight="2"
            android:src="@drawable/imausu" />
        <EditText
            android:id="@+id/et_usu"
            android:layout_width="1dp"
            android:layout_height="match_parent"
            android:layout_weight="8"
            android:hint="Ingrese usuario"
            android:inputType="text"
            android:textSize="24sp" />
    </LinearLayout>


    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:weightSum="10"
        android:orientation="horizontal">
    <ImageView
        android:layout_width="1dp"
        android:layout_height="match_parent"
        android:textAlignment="center"
        android:src="@drawable/imacon"
        android:layout_weight="2"/>

    <EditText
        android:id="@+id/et_pass"
        android:layout_width="1dp"
        android:layout_height="match_parent"
        android:layout_weight="8"
        android:hint="Ingrese contraseña"
        android:inputType="textPassword"
        android:textSize="24sp" />
    </LinearLayout>

    <Button
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="80sp"
        android:layout_marginRight="80sp"
        android:layout_weight="1"
        android:onClick="login"
        android:text="Login"
        android:textSize="24sp" />

    <Button
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="80sp"
        android:layout_marginRight="80sp"
        android:layout_weight="1"
        android:onClick="registrarse"
        android:text="Registrarse"
        android:textSize="24sp" />

    <Button
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="80sp"
        android:layout_marginRight="80sp"
        android:layout_weight="2"
        android:onClick="Importancia"
        android:text="Importancia de leer"

        android:textSize="24sp" />


</LinearLayout>

#pantalla_registro.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/fondo3"
    android:orientation="vertical"
    android:padding="10sp"
    android:weightSum="10"
    tools:context=".Pantalla_registro">

    <TextView
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:text="Pantalla de registro"
        android:textAlignment="center"
        android:textSize="35sp" />

    <EditText
        android:id="@+id/et_usuario"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:hint="Ingrese usuario"
        android:textSize="20sp" />

    <EditText
        android:id="@+id/et_password"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:hint="Ingrese contraseña"
        android:inputType="textPassword"
        android:textSize="20sp" />

    <EditText
        android:id="@+id/et_nombre"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:hint="Ingrese nombre completo"
        android:textSize="20sp" />

    <EditText
        android:id="@+id/et_direccion"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:hint="Ingrese direccion"
        android:textSize="20sp" />

    <EditText
        android:id="@+id/et_telefono"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:hint="Ingrese telefono"
        android:inputType="number"
        android:textSize="20sp" />

    <Button
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_marginLeft="80dp"
        android:layout_marginRight="80dp"
        android:layout_weight="1"
        android:onClick="registrar"
        android:text="Guardar"
        android:textSize="24sp" />


</LinearLayout>

#resultado.xml
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/fondo2"
    android:orientation="vertical"
    android:padding="15sp"
    android:weightSum="12"
    tools:context=".Resultado">

    <TextView
        android:id="@+id/tv_resultado"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1"
        android:text=""
        android:textSize="24sp" />

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="3"
        android:orientation="horizontal"
        android:weightSum="10">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5"
            android:orientation="vertical"
            android:padding="10sp"
            android:weightSum="10">

            <TextView
                android:id="@+id/tv_nombre1"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_autor1"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_descri1"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />


        </LinearLayout>

        <ImageView
            android:id="@+id/iv1"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5" />
    </LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="3"
        android:orientation="horizontal"
        android:weightSum="10">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5"
            android:orientation="vertical"
            android:padding="10sp"
            android:weightSum="10">

            <TextView
                android:id="@+id/tv_nombre2"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_autor2"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_descri2"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />


        </LinearLayout>

        <ImageView

            android:id="@+id/iv2"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5" />
    </LinearLayout>

    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="3"
        android:orientation="horizontal"
        android:weightSum="10">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5"
            android:orientation="vertical"
            android:padding="10sp"
            android:weightSum="10">

            <TextView
                android:id="@+id/tv_nombre3"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_autor3"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />

            <TextView
                android:id="@+id/tv_descri3"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_weight="3"
                android:textSize="18sp" />


        </LinearLayout>

        <ImageView

            android:id="@+id/iv3"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="5" />
    </LinearLayout>


</LinearLayout>

#biblio.xml
<?xml version="1.0" encoding="utf-8"?>
<TextView
    android:layout_height="wrap_content"
    android:layout_width="match_parent"
    android:textSize="24sp"
    android:padding="10sp"
    xmlns:android="http://schemas.android.com/apk/res/android" />

